# An√°lise de Dados - Covid-19

In [1]:
import pandas as pd

In [2]:
pd.options.display.float_format = '{:,.2f}'.format

In [3]:
base = pd.read_csv('C:\\Sandbox\\datasets\\HIST_PAINEL_COVIDBR.csv', sep=';')

In [4]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2439516 entries, 0 to 2439515
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   regiao                  object
 1   estado                  object
 2   municipio               object
 3   coduf                   int64
 4   codmun                  float64
 5   codRegiaoSaude          float64
 6   nomeRegiaoSaude         object
 7   data                    object
 8   semanaEpi               int64
 9   populacaoTCU2019        float64
 10  casosAcumulado          float64
 11  casosNovos              int64
 12  obitosAcumulado         int64
 13  obitosNovos             int64
 14  Recuperadosnovos        float64
 15  emAcompanhamentoNovos   float64
 16  interior/metropolitana  float64
dtypes: float64(7), int64(5), object(5)
memory usage: 316.4+ MB

In [5]:
base_interim = base

In [6]:
base_interim.drop(base_interim[base_interim['municipio'].isnull()].index, inplace = True)
base_interim['CIDADE']= base_interim['estado'] + '-' +base_interim['municipio']

In [7]:
base_interim.drop(columns=['data','emAcompanhamentoNovos','semanaEpi','regiao','municipio','coduf', 'codmun', 'codRegiaoSaude', 'nomeRegiaoSaude', 'casosAcumulado', 'obitosAcumulado'], inplace=True)

In [8]:
base_interim.fillna(0 ,inplace=True)

In [9]:
base_interim.shape

(2417380, 7)

In [13]:
base_interim.describe().T

,count,mean,std,min,25%,50%,75%,max
populacaoTCU2019,"2,417,380.00","37,728.39","221,438.23",781.00,"5,446.00","11,631.00","25,492.00","12,252,023.00"
casosNovos,"2,417,380.00",6.94,100.61,"-46,905.00",0.00,0.00,3.00,"47,815.00"
obitosNovos,"2,417,380.00",0.19,6.45,"-4,109.00",0.00,0.00,0.00,"4,109.00"
Recuperadosnovos,"2,417,380.00",0.00,0.00,0.00,0.00,0.00,0.00,0.00
interior/metropolitana,"2,417,380.00",0.07,0.25,0.00,0.00,0.00,0.00,1.00

In [11]:
base_interim.groupby('casosNovos').sum()

,populacaoTCU2019,obitosNovos,Recuperadosnovos,interior/metropolitana
casosNovos,,,,
-46905,"423,666.00",-1103,0.00,0.00
-43710,"423,666.00",-1040,0.00,0.00
-42998,"35,496.00",-1017,0.00,0.00
-15676,"132,002.00",-356,0.00,1.00
-15014,"7,971.00",-337,0.00,1.00
...,...,...,...,...
15014,"7,971.00",337,0.00,1.00
40170,"1,933,105.00",177,0.00,1.00
43028,"35,496.00",1020,0.00,0.00
47101,"423,666.00",1108,0.00,0.00
47815,"3,984.00",1134,0.00,0.00

In [ ]:
grouped