In [1]:
import pandas as pd

In [4]:
pd.options.display.float_format = '{:,.2f}'.format

In [47]:
base = pd.read_csv('C:\\Sandbox\\datasets\\HIST_PAINEL_COVIDBR.csv', sep=';')

In [54]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2417380 entries, 4551 to 2439515
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   estado                  object
 1   populacaoTCU2019        float64
 2   casosNovos              int64
 3   obitosNovos             int64
 4   Recuperadosnovos        float64
 5   interior/metropolitana  float64
 6   CIDADE                  object
dtypes: float64(3), int64(2), object(2)
memory usage: 147.5+ MB

In [48]:
base_interim = base

In [49]:
base_interim.drop(base_interim[base_interim['municipio'].isnull()].index, inplace = True)
base_interim['CIDADE']= base_interim['estado'] + '-' +base_interim['municipio']

In [50]:
base_interim.drop(columns=['data','emAcompanhamentoNovos','semanaEpi','regiao','municipio','coduf', 'codmun', 'codRegiaoSaude', 'nomeRegiaoSaude', 'casosAcumulado', 'obitosAcumulado'], inplace=True)

In [51]:
base_interim.fillna(0 ,inplace=True)

In [52]:
base_interim.shape

(2417380, 7)

In [53]:
base_interim

,estado,populacaoTCU2019,casosNovos,obitosNovos,Recuperadosnovos,interior/metropolitana,CIDADE
4551,RO,"22,945.00",0,0,0.00,0.00,RO-Alta Floresta D'Oeste
4552,RO,"22,945.00",0,0,0.00,0.00,RO-Alta Floresta D'Oeste
4553,RO,"22,945.00",0,0,0.00,0.00,RO-Alta Floresta D'Oeste
4554,RO,"22,945.00",0,0,0.00,0.00,RO-Alta Floresta D'Oeste
4555,RO,"22,945.00",0,0,0.00,0.00,RO-Alta Floresta D'Oeste
...,...,...,...,...,...,...,...
2439511,DF,"3,015,268.00",811,21,0.00,1.00,DF-Brasília
2439512,DF,"3,015,268.00",902,28,0.00,1.00,DF-Brasília
2439513,DF,"3,015,268.00",836,22,0.00,1.00,DF-Brasília
2439514,DF,"3,015,268.00",801,28,0.00,1.00,DF-Brasília
2439515,DF,"3,015,268.00",487,20,0.00,1.00,DF-Brasília

In [58]:
base_interim.groupby(['casosNovos']).sum()

,populacaoTCU2019,obitosNovos,Recuperadosnovos,interior/metropolitana
casosNovos,,,,
-46905,"423,666.00",-1103,0.00,0.00
-43710,"423,666.00",-1040,0.00,0.00
-42998,"35,496.00",-1017,0.00,0.00
-15676,"132,002.00",-356,0.00,1.00
-15014,"7,971.00",-337,0.00,1.00
...,...,...,...,...
15014,"7,971.00",337,0.00,1.00
40170,"1,933,105.00",177,0.00,1.00
43028,"35,496.00",1020,0.00,0.00
47101,"423,666.00",1108,0.00,0.00
47815,"3,984.00",1134,0.00,0.00

In [56]:
grouped

                          populacaoTCU2019  obitosNovos  Recuperadosnovos  \
CIDADE        casosNovos
AC-Acrelândia -2                 15,256.00            0              0.00
              -1                167,816.00            3              0.00
               0              2,913,896.00            9              0.00
               1                747,544.00            5              0.00
               2                533,960.00            4              0.00
...                                    ...          ...               ...
TO-Xambioá     36                11,540.00            0              0.00
               37                23,080.00            0              0.00
               39                11,540.00            1              0.00
               41                11,540.00            1              0.00
               44                11,540.00            0              0.00

                          interior/metropolitana
CIDADE        casosNovos
AC-Acrelândia -2                            0.00
              -1                            0.00
               0                            0.00
               1                            0.00
               2                            0.00
...                                          ...
TO-Xambioá     36                           0.00
               37                           0.00
               39                           0.00
               41                           0.00
               44                           0.00

[184668 rows x 4 columns]